.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title.txt-l Shopping Cart
  - if @cart && @cart.present?
    .checkout-steps.txt-r
      = image_tag 'view-cart-onpage.png'
      = image_tag 'order-details-offpage.png'
      = image_tag 'confirm-order-offpage.png'
    = form_tag update_cart_path, method: :put do
      %table.cart-contents
        %thead
          %tr
            %th Item
            %th.product_name Product Name
            %th Remove
            %th Quantity
            %th Unit Price
            %th Total

        %tbody
          - @cart.each_with_index do |cart_item, index|
            - product, quantity = cart_item
            %tr{class: index.odd? ? 'odd' : 'even'}
              %td.thumb= link_to first_image_for(product, :thumb), product_details_path(slug: product.slug)
              %td.description= link_to product.name, product_details_path(slug: product.slug)
              %td.remove= submit_tag('Remove', name: "remove[#{product.id}]")
              %td.quantity= text_field_tag("cart[#{product.id}]", quantity)
              %td= price_for product.price_in_aud
              %td= price_for product.price_in_aud * quantity
          %tr.subtotal
            %td{colspan: 6}
              %span Subtotal: #{price_for @subtotal}
              %span Shipping: #{price_for @shipping}
              %span Total: #{price_for @total}
      .actions
        = link_to 'Continue Shopping', product_details_path(slug: @cart.first[0].slug)
        = submit_tag 'Update Cart', name: 'update', class: 'button'
        = submit_tag 'Checkout Securely', name: 'checkout', class: 'button'
      .paypal
        %span - or -
        = image_submit_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif', id: 'paypal_checkout_button', name: 'paypal', title: 'Checkout with PayPal.', alt: 'Checkout with PayPal.', value: 'paypal'
  - else
    %p.clear There are no products in your shopping cart.
