.sidebar
  %h2 Customer Care
  %ul
    %li
      = link_to 'Contact Us', contact_us_path
    %li
      = link_to 'Shipping', postage_and_shipping_path, title: 'Postage is only AUD $3.95 Australia Wide regardless of the number of items ordered!'
    %li
      = link_to 'Payment Options', how_do_i_pay_my_order_path
    %li
      = link_to 'Internet Security', internet_security_path
    %li
      = link_to 'Refund Policy', refund_policy_path
