.product-tile
  = link_to first_image_for(product, :medium), product_details_path(slug: product.slug)
  %span.name= link_to product.name, product_details_path(slug: product.slug)
  %span.price= price_for(product.price_in_aud, 'AUD')
  %span.price= price_for(product.price_in_usd, 'USD')
  %form{action: edit_cart_path(add_product_id: product.id, id: 0)}
    %input.button{type: 'submit', value: 'Add to Cart'}
  - if product.product_badge
    .badge-wrapper
      %div{class: "badge #{product.product_badge.product_badge_css_class.name.downcase}"} #{product.product_badge.name}
