.images
  .thumbnails
    - @product.images.each do |image|
      = link_to image_tag(image.url), '#', alt: image.alt

  #image
    = first_image_for(@product)
    #zoomindicator{style: 'display:none'}
  #zoomwindow{style: 'display:none'}
    = first_image_for(@product)

.details
  %h2= @product.name
  .blurb
    = @product.blurb_html
  %p.price= price_for(@product.price_in_aud, 'AUD')
  %p.price= price_for(@product.price_in_usd, 'USD')
  %form{action: edit_cart_path(add_product_id: @product.id, id: 0)}
    %input.button{type: 'submit', value: 'Add to Cart'}
  .social
    = link_to image_tag('social/fbshare.png'), "https://www.facebook.com/sharer.php?u=#{request.url}", rel: 'nofollow', target: '_blank'

#tabs{style: 'display:none'}
  %ul
    %li
      %a{href: '#details'} Details
    %li
      %a{href: '#shipping'} Shipping
    %li
      %a{href: '#how-to-wear-it'} How to wear it!
    %li
      %a{href: '#security'} Security
    %li
      %a{href: '#gift-ideas'} Gift Ideas
    %li
      %a.trigger-autosize{href: '#ask-a-question'} Ask a Question
  #details= @product.details_html
  #shipping= render partial: 'pages/shipping'
  #how-to-wear-it= @product.how_to_wear_it_html
  #security= render partial: 'pages/security'
  #gift-ideas= render partial: 'pages/gift_ideas'
  #ask-a-question= render partial: 'pages/ask_a_question', locals: { product_id: @product.id }
